/* Tailwind v4 */
@import "tailwindcss";

/* (optional) your custom styles below */
.prose :where(a):not(:where(.not-prose *)) {
  text-decoration: underline;
  text-underline-offset: 2px;
}
.prose :where(h2,h3):not(:where(.not-prose *)) {
  scroll-margin-top: 80px;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


